header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //   height: 30px;
  font-weight: bold;
  z-index: 999;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    font-weight: 100;
    &:hover {
      background: #efefef;
    }
  }
}

article {
  & > * {
    width: 100%;
    min-height: 100vh;
  }
}
